<div class="shopping-list-container">
  <h1>Shopping List</h1>

  <div class="total-foods-value">
    <p>Total Foods to Buy: <%= @recipe_foods.count %> items</p>
    <p>Total Value: $<%=@remaining_foods_price %></p>
  </div>

  <table class="table" id="ShoppingListTable">
    <thead>
      <tr class="tableheader">
        <th class="tablecol sortable">Foods</th>
        <th class="tablecol sortable">Total Quantity</th>
        <th class="tablecol sortable">Total Value</th>
      </tr>
    </thead>
    <tbody>
      <% @missing_foods.each do |recipe_food| %>
        <tr class="tableheader">
          <td class="tablecol"><%= recipe_food.name %></td>
          <td class="tablecol"><%= recipe_food.quantity %></td>
          <td class="tablecol"><%= recipe_food.price %></td>
        </tr>
      <% end %>
    </tbody>
  </table>
</div>
